#card-container {}
.card {
    /* border: solid 1px gray; */
    background: rgb(6, 6, 8);
    border-radius: 8px;
    padding: 1.5em;
    pointer-events: auto;
    min-height: 0vw; /* Safari Clamp Fix */
    width: clamp(15em, 51vw, 30em);
    box-shadow: 0px 0px 4px grey;
    -moz-box-shadow: 0px 0px 4px grey;
    -webkit-box-shadow: 0px 0px 4px grey;
    box-shadow: 0px 0px 4px grey;
}
.card#text-container {

}
p.card-title {
    min-height: 0vw; /* Safari Clamp Fix */
    font-size: clamp(21px, 3.5vw, 34px);
    font-family: "Cthulu", sans-serif;
}
p.card-title > span:hover {
    /* text-decoration: underline; */
    color: rgb(88, 166, 255);
    cursor: pointer;
}
p.card-info {
    color: rgb(171, 178, 185);
    min-height: 0vw; /* Safari Clamp Fix */
    font-size: clamp(12px, 3vw, 20px);
    font-family: "Cthulu", sans-serif;
}

/* @media screen and (min-width: 1200px) {
    .card {
        transform: scale(.9);
    }
} */