.footer {
    bottom: 45px;
    position: fixed;
    height: fit-content;
    width: -webkit-fill-available;
    z-index: 103;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.responsive-container {
    width: fit-content;
}
/* .responsive-container:hover {
    border-radius: 25px;
    transition: transform 0.04s ease 0s, box-shadow 0.04s ease 0s;
    background: rgb(34, 34, 34);
    overflow: hidden;
} */
.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    flex-direction: row;
    height: 55px;
}
.glow-on-hover {
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  color: black;
  background: transparent;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-17px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 15px;
  padding: 0px 15px;
}

.glow-on-hover:active {
/*     color: white */
}
.glow-on-hover:hover {
/*     color: white; */
}
.glow-on-hover:hover:after {
  padding: 0px 15px;
  left: -15px;
/*     background: #3c3c3c; */
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:active img {}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
/*     background: #111; */
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
.responsive-container {
/*   background: #222222de; */
  padding: 5px;
  width: fit-content;
  border-radius: 15px;
  transition: transform .04s ease 0s,box-shadow .04s ease 0s,-webkit-transform .04s ease 0s,-moz-transform .04s ease 0s,-webkit-box-shadow .04s ease 0s;
  border: 1px #222;
  border-style: solid;
  box-shadow: 0px 0px 1px 1px rgba(38,41,40,0.66);
}
.responsive-container:hover {
/*   background: #222222de; */
}
.responsive-container button {
  margin: 0px 18px
}
.responsive-container a {
  color: transparent;
}

@media only screen and (min-width: 600px) {
    .responsive-container {
        transform: scale(1.2) translateY(-20px);
    }
}