.footer {
    bottom: 45px;
    position: fixed;
    height: fit-content;
    width: -webkit-fill-available;
    z-index: 103;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.responsive-container {
    width: fit-content;
    background: black;
}
/* .responsive-container:hover {
    border-radius: 25px;
    transition: transform 0.04s ease 0s, box-shadow 0.04s ease 0s;
    background: rgb(34, 34, 34);
    overflow: hidden;
} */
.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    flex-direction: row;
    height: 55px;
}
.glow-on-hover {
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  color: black;
  background: transparent;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
.glow-on-hover:before {
  content: '';
  /* background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); */
    /* background: rgba(255, 255, 255, 0.39); */
    background: white;
  position: absolute;
  top: -2px;
  left:-17px;
  background-size: 200% 100%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  /* animation: glowing 12s linear infinite; */
  animation: heavens 1s ease-in-out infinite alternate;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 15px;
  padding: 0px 15px;
  -webkit-transform: translate3d(0, 0, 0); /* Safari border fix */
}

.glow-on-hover:active {
/*     color: white */
}
.glow-on-hover:hover {
/*     color: white; */
}
.glow-on-hover:hover:after {
  padding: 0px 15px;
  left: -15px;
/*     background: #3c3c3c; */
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:active img {}

.glow-on-hover:hover:before {
  opacity: 1;
  background: white;
  background-color: white;

}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
/*     background: #111; */
}

.svg-icon:hover {
   /* filter: drop-shadow(-.15px -.15px 0px white) drop-shadow(.15px .15px 0px white) drop-shadow(.3px .3px 0px #FF0000) drop-shadow(.4px .4px 0px #FF7F00) drop-shadow(.5px .5px 0px #FFFF00) drop-shadow(.6px .6px 0px #00FF00) drop-shadow(.7px .7px 0px #0000FF) drop-shadow(.8px .8px 0px #2E2B5F) drop-shadow(.9px .9px 0px #8B00FF) drop-shadow(1px 1px 0px #FF0000); */
  animation: shake 100ms linear infinite;
}

.responsive-container button:hover span {
  animation: fade-in 1s;

}


.responsive-container button:hover img {
    /* animation: shake 100ms ease-in infinite; */
   filter: drop-shadow(-1.2px 1.2px 0px black) drop-shadow(-1.2px 1.2px 0px black) drop-shadow(-2.2px 2.2px 0px lightgray);
  /* animation: fade-in 1s; */

}


@keyframes shake {
    0% {
    transform: translate(.55px, 0);
    }
    50% {
    transform: translate(-.55px, 0);
    }
    100% {
    transform: translate(0, 0);
    }
}

@keyframes fade-in {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}

@keyframes glowing {
  0% { background-position: 0 0; }
  10% { background-position: 80% 0; }
  20% { background-position: 160% 0; }
  30% { background-position: 240% 0; }
  40% { background-position: 320% 0; }
  50% { background-position: 400% 0; }
  60% { background-position: 320% 0; }
  70% { background-position: 240% 0; }
  80% { background-position: 160% 0; }
  90% { background-position: 80% 0; }
  100% { background-position: 0 0; }
}

@keyframes heavens {
  from {
    box-shadow: 0 0 .5px #fff, 0 0 1px #fff, 0 0 2px rgba(255, 255, 255, 0.39), 0 0 3px rgba(255, 255, 255, 0.39), 0 0 4px rgba(255, 255, 255, 0.39), 0 0 5px rgba(255, 255, 255, 0.39), 0 0 6px rgba(255, 255, 255, 0.39);
  }
  to {
    box-shadow: 0 0 2px fff, 0 0 5px rgba(255, 255, 255, 0.89), 0 0 10px rgba(255, 255, 255, 0.89), 0 0 12.5px rgba(255, 255, 255, 0.89), 0 0 15px rgba(255, 255, 255, 0.89), 0 0 17.5px rgba(255, 255, 255, 0.89), 0 0 20px rgba(255, 255, 255, 0.89);
  }
}

.responsive-container {
/*   background: #222222de; */
  padding: 5px;
  width: fit-content;
  border-radius: 15px;
  transition: transform .04s ease 0s,box-shadow .04s ease 0s,-webkit-transform .04s ease 0s,-moz-transform .04s ease 0s,-webkit-box-shadow .04s ease 0s;
  border: 1px #222;
  border-style: solid;
  box-shadow: 0px 0px 1px 1px rgba(38,41,40,0.66);
}
.responsive-container:hover {
/*   background: #222222de; */
}
.responsive-container button {
  margin: 0px 18px
}
.responsive-container a {
  color: transparent;
}

@media only screen and (min-width: 600px) {
    .responsive-container {
        transform: scale(1.2) translateY(-20px);
    }
}

@media only screen and (max-device-width: 400px) {
    .responsive-container {
        transform: scale(.8) translateY(10px);
    }
}