html,
body {
  min-width: fit-content;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.svg-icon {
  color: white;
}
#status-msg {
  color: rgb(214 219 224);
  color: #ffba00;
  bottom: 20%;
  position: fixed;
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fill-available;
  z-index: 100;
  font-size: clamp(16px, 3vw, 20px);
}
#status-msg a {
  text-decoration: underline;
}
#status-msg a:hover {
  color: rgb(88, 166, 255);
}
#dapp-container {
  position: fixed;
  top: 20%;
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fill-available;
  z-index: 100;
  cursor: pointer;
  pointer-events: auto;
}
#dapp-container div {
  border-radius: 25px;
}
#dapp-container div:hover {
  background: rgb(34, 34, 34);
}
#dapp-container button {
  min-height: 0vw;
  font-size: clamp(25px, 4vw, 40px);
}
#connection-status {
  position: fixed;
  top: 65px;
  left: 5%;
  cursor: pointer;
  pointer-events: auto;
}
#connect-btn {
  cursor: pointer;
  background: none;
  min-height: 0vw; /* Safari Clamp Fix */
  font-size: clamp(16px, 3vw, 20px);
  border: 0;
}
#connect-btn:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease 0s, box-shadow 0.3s ease-out 0s;
  border-radius: 25px;
  transition: transform 0.2s ease 0s, box-shadow 0.2s ease 0s;
  background: rgb(34, 34, 34);
  /* background: -webkit-linear-gradient(#eee, #333); */
  border: 1px solid rgb(34, 34, 34);
  box-shadow: rgb(19 19 19) 0px 0px 0px, rgb(44 44 44) 0px 0px 0px;
}
#connect-btn:active {
  box-shadow: 0px 0px 3px lightgrey;
  -webkit-box-shadow: 0px 0px 3px lightgrey;
  box-shadow: 0px 0px 3px lightgrey;
}

#connection-status.disconnected button {
  color: salmon;
}
#connection-status.connecting button {
  color: #ffba00;
}
#connection-status.connected button {
  color: lightgreen;
}
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  pointer-events: auto;
}
body {
  font-family: "Raleway", sans-serif;
  color: white;
  width: 100vw;
  margin: 0;
  background: black;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
}
.body {
  font-size: large;
  width: max-content;
}
.landing {
  /* MOBILE LANDING FIX */
  min-height: 100vh;
  min-height: -webkit-fill-available;
  /* MOBILE LANDING FIX */
}
button {
  background: lightgray;
}
.click {
  pointer-events: auto;
}
.click:hover {
  color: rgb(88, 166, 255);
}
body,
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
canvas,
button,
.gradient-text {
  pointer-events: auto;
}
.landing,
.title-box,
.text-box .gradient,
.footer {
  pointer-events: none;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.heading {
  font-size: larger;
  font-weight: 900;
}
.no-pointer {
  cursor: default;
}
.to-fade-in {
  /* opacity: 0; */
}
.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transition: ease-out;
}
.fast-anim {
  animation-duration: 1s;
}
.anim-delay-2s {
  opacity: 0;
  animation-delay: 2s;
}
.anim-delay-4s {
  opacity: 0;
  animation-delay: 4s;
}
.anim-delay-4-5s {
  opacity: 0;
  animation-delay: 4.5s;
}
.anim-delay-5s {
  opacity: 0;
  animation-delay: 5s;
}
.anim-delay-6s {
  opacity: 0;
  animation-delay: 6s;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* canvas {
  top: 0;
  left: 0;
  z-index: -1;
} */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  vertical-align: middle;
}
.break {
  flex-basis: 100%;
  height: 0;
  margin-top: 20px;
}
.title-box {
  font-size: 60px;
  letter-spacing: 7px;
  /* word-spacing: 12px; */
  word-spacing: 5px;
  text-transform: uppercase;
  /* width: min-content; */
}
.title-box,
.text-box {
  color: rgb(238, 238, 238);
}
.text-box {
  font-size: 10vw;
  text-transform: none;
}

.item-box {
  border: solid 1px gray;
  border-radius: 8px;
  padding: 12vw;
  cursor: pointer;
  pointer-events: auto;
  margin: 12vw;
}
img {
  transition: all linear 0.7;
}
img.hover-img {
  /* position: absolute;
  top: 0;
  left: 0; */
  opacity: 0;
}
.item-box:hover {
  background-color: rgba(169, 169, 169, 0.137);
}
.item-box:hover img {
  opacity: 0;
}
.item-box:hover .hover-img {
  opacity: 1;
}

.button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  /* padding: 15px; */
  padding: 12px;
  word-spacing: normal;
  letter-spacing: 5px;
  border: 1px solid white;
  background: black;
  cursor: pointer;
}
.button:hover {
  background: white;
  color: black;
}
.card-button {
  /* font-weight: 600; */
  font-size: clamp(14px, 3vw, 23px);
  margin: 0;
  cursor: pointer;
  background: -webkit-linear-gradient(#eee, #333);
  width: -webkit-fill-available;
  height: clamp(35px, 6.5vw, 60px);
  /* background: -webkit-linear-gradient(#eee, #565656); */
}
.card-button:active {
  color: white;
}
.card-button:hover {
  box-shadow: 0px 0px 3px lightgrey;
  -webkit-box-shadow: 0px 0px 3px lightgrey;
  box-shadow: 0px 0px 3px lightgrey;
  transform: scale(1.02);
  transition: transform 0.3s ease 0s, box-shadow 0.3s ease-out 0s;
}

.gradient-text {
  pointer-events: auto;
  background: linear-gradient(
    to right,
    red,
    blueviolet,
    royalblue,
    cyan,
    springgreen,
    gold,
    salmon
  );
  background-size: 200% 200%;
  animation: rainbow 5s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  transition: color 1.5s ease-in-out;
}
.gradient-text.active {
  color: rgba(0, 0, 0, 0);
}
@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: row;
    height: 55px;
}
.btn-2 {
  position: relative;
  border: none;
  cursor: pointer;
  background: none;
  padding: 12px 25px;
  margin: 0;
}
.btn-3 {
  position: relative;
  border: none;
  cursor: pointer;
  background: none;
  padding: 13px;
  /* margin: 0px 20px; */
  margin: 0px 12px;
}
.btn-2:hover {
  border-radius: 25px;
  background: rgb(60, 60, 60);
  border: 0px solid rgb(60, 60, 60);
  transition: transform 0.3s ease 0s, box-shadow 0.3s ease-out 0s;
  transition: transform 0.2s ease 0s, box-shadow 0.2s ease 0s;
  /* background: -webkit-linear-gradient(#eee, #333); */
  box-shadow: rgb(19 19 19) 0px 0px 0px, rgb(44 44 44) 0px 0px 0px;
}
.btn-3:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease 0s, box-shadow 0.3s ease-out 0s;
}
.btn-3::before,
.btn-3::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
}
.btn-3::before {
  background: linear-gradient(to right, blueviolet, royalblue, cyan);
}
.btn-3::after {
  background: linear-gradient(to left, gold, salmon);
}

span::before,
span::after {
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
}
span::before {
  background: linear-gradient(to top, salmon, red, darkviolet);
}
span::after {
  background: linear-gradient(to top, yellow, springgreen, cyan);
}
.btn-3:hover::before,
.btn-3:hover::after {
  width: 100%;
}
.btn-3:hover span::before,
.btn-3:hover span::after {
  height: 100%;
}
.btn-3::after {
  left: 0;
  bottom: 0;
  transition-delay: 0.6s;
}
.btn-3 span::after {
  transition-delay: 0.4s;
  right: 0;
  bottom: 0;
}
.btn-3::before {
  right: 0;
  top: 0;
  transition-delay: 0.2s;
}
.btn-3 span::before {
  transition-delay: 0s;
  left: 0;
  top: 0;
}

.btn-3:hover::after {
  transition-delay: 0s;
}
.btn-3:hover span::after {
  transition-delay: 0.2s;
}
.btn-3:hover::before {
  transition-delay: 0.4s;
}
.btn-3:hover span::before {
  transition-delay: 0.6s;
}

@media (any-hover: hover) {
  .gradient-text:hover {
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .landing {
    height: 100vh;
  }
}

/* Chrome 29+ */
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .landing {
    height: 100vh;
  }
}

@media only screen and (max-device-width: 480px) {
  #only-desktop {
    display: block !important;
  }
}
