.zarif {
    width: max-content;
    /* font-size: 4vw; */
    min-height: 0vw; /* Safari Clamp Fix */
    font-size: clamp(23px, 4.5vw, 62px);
    font-weight: 300;
    /* font-size: 7vw; */
    /* font-size: clamp(1rem, 0.4706rem + 2.8235vw, 4rem); */
    /* text-transform: capitalize; */
}
.zarif-2 {
    /* font-size: 2.25vw; */
    min-height: 0vw; /* Safari Clamp Fix */
    font-size: clamp(14px, 2.53vw, 34.875px);
    display: flex;
    font-weight: 300;
}
.creator {
    padding-right: 12px;
}
.engineer {
    padding-left: 19px !important;
}
.ls-bug { /* for letter spacing bug */
    padding-left: 7px; 
}
.lh-bug { /* for letter spacing bug */
    min-height: 0vw; /* Safari Clamp Fix */
    line-height: clamp(12px, 2.53vw, 34.875px);
    display: contents;
}

@media (max-width: 460px) {
  /* .zarif {
    font-size: 6vw;
  }
  .zarif-2 {
    font-size: 3.5vw;
  } */
  .lh-bug { /* for letter spacing bug */
    line-height: 3.5vw;
}
}
